{% extends "layout.html" %}

{% from "macros/render-post.html" import render_post %}

{% block body %}
{% for post in this.pagination.items %}
{{ render_post(post) }}
{% if not loop.last %}<hr>{% endif %}
{% endfor %}

{% if this.pagination.pages > 1 %}
<div style="display: flex; justify-content: space-between;">
    <p>
    {% if this.pagination.has_next %}
    <a href="{{ this.pagination.next|url }}" rel="next">Older posts</a>
    {% endif %}
    </p>

    <p>
    {% if this.pagination.has_prev %}
    <a href="{{ this.pagination.prev|url }}" rel="prev">Newer posts</a>
    {% endif %}
    </p>
</div>
{% endif %}

{% endblock %}
